.formWrapper {
    border: 1px solid wheat;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin:20% 0 0 35%;
}
.groupInput {
    font-size: 0.86em;
}
.input {
    padding: 6px;
    border: 0;
    border-radius: 2px;
    width: 24rem;
    margin-bottom: 5px;
}
.btn {
    padding: 8px;
    background-color: rgb(68, 68, 226);
    color: #ffffff;
    border: 0;
    border-radius: 2px;
}
